<div>
    <div class="row">
        <div class="column">
            <div>
                <img src="./../../assets/logo.png" width="150" height="150" alt="logo">
            </div>
            <h3>©2023 Apex Markets. All Rights Reserved.</h3>
        </div>
        <div class="column">
            <h4>COMPANY</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">Reward Program</a></li>
                <li><a href="#">Promotions</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">How to Videos</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>START TRADING</h4>
            <ul>
                <li><a href="#">Open an Account</a></li>
                <li><a href="#">Account Overview</a></li>
                <li><a href="#">About MT5 Trading</a></li>
                <li><a href="#">Download MT5 Windows</a></li>
                <li><a href="#">Download MT5 IOS</a></li>
                <li><a href="#">Dowload MT5 Android</a></li>
                <li><a href="#">Launch Web Trader</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>LEGAL & SECURITY</h4>
            <ul>
                <li><a href="#">Terms & conditions</a></li>
                <li><a href="#">KYC & AML Policy</a></li>
                <li><a href="#">Payment Procedure</a></li>
                <li><a href="#">Refund/Cancellation Policy</a></li>
            </ul>
        </div>
    </div>    
    <div>
        <div style="padding: 100px; text-align: justify;">

            <h4>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITIES</h4>
            <p>
                By accessing Apex Capital Markets LLC, Apex Capital Markets Ltd., Apex Markets or any of its affiliates' (collectively, "Apex") website, you acknowledge and agree that you have read, understood, and agreed to be bound by the following disclaimer of warranties and limitation of liabilities:
            </p>
            <p>
                Apex is a Software Development and Integration company specializing in Cryptocurrency and Crypto Asset Operations as well as Business Strategy Consultation. Apex provides a licensed software product as an online account facilitator to authorized users, which enables them access to a host of services through their account. Apex does not hold client funds, provide financial, exchange, investment, brokerage or consulting services, nor does it provide any financial or other services advertised on this website. The platform showcased on this website serves demonstration purposes only.
            </p>
            <p>
                The information on this website and our services are not directed at residents of any jurisdiction where the activities of Apex, including foreign exchange trading, cryptocurrency operations, and business strategy consultation, are restricted or prohibited by local laws or regulations. Articles and financial market analyses on this website are prepared or accomplished by an author in his personal capacity. The views and opinions expressed in postings on this website belong solely to the author and may not reflect those of the company’s management or the official position of the company. The contents of the site do not constitute financial advice and are provided solely for informational purposes without taking into account your personal objectives, financial situation or needs.
            </p>
            <p>
                Apex's service is to be taken as just that is described and not to be confused or misconstrued to be anything else as not to prejudice the operation and goodwill of the company. Apex has no responsibility or liability for any aspect of usage by users not in conformity with our services, with respect to being in full compliance with governing laws concerning this industry. Apex disclaims all warranties of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
            </p>
            <p>
                You acknowledge that you have carefully studied the documents posted on this website: Legal information and Disclaimers, Acceptable use Policy, Privacy Policy, Cookie Policy, Anti Money Laundering and KYC policies and all other relevant policies. These documents are available only in English. You acknowledge that you know the English language at a sufficient level to understand the text of these documents, and you fully understand the legal consequences of these documents. In case you do not understand or understand the English language poorly, you acknowledge that you have used the services of a professional interpreter. If you don’t agree with this statement or the information provided within the documents, please leave this website immediately.
            </p>
            <p>
                Apex does not accept payment via email, phone, social media, in person. All payments made are made online to third party payment processors to access the services offered. All services/products offered are offered by third party software providers as apex just facilitates the creation of these accounts.
            </p>
            <p>
                Apex shall not be liable to you or any third party for any damages, whether direct, indirect, incidental, special, consequential or punitive arising out of or in connection with your access to or use of this website, its contents or services, even if Apex has been advised of the possibility of such damages. Apex shall not be liable for any failure or delay in performing any obligation under these terms and conditions, whether or not such failure or delay is due to causes beyond its control.
            </p>
            <p>
                Lastly, if any provision of the terms of service and legal documents are unenforceable or held illegal in a judicial proceeding, such provision shall be severed and held inoperative, whilst holding the remaining portion of this document operative and binding on both parties.
            </p>
            <p>
                By signing up, you agree to our terms and conditions. We reserve the right to deny our services, deactivate accounts, discontinue services to any customer that exceeds our risk tolerance.
            </p>
            <p>
                This disclaimer is intended to be comprehensive and unequivocal, protecting Apex Capital Markets LLC and its affiliates from any liability or legal action arising from users who may attempt to assert claims based on the information or services provided on this website. By accessing and using this website, you acknowledge and agree to the terms outlined in this disclaimer, and you waive any rights to bring claims against Apex Capital Markets LLC or its affiliates for any reason. If you do not agree with the terms of this disclaimer or the information provided within the documents, please leave this website immediately.
            </p>
    
            <a href="#">View Legal Documents</a>
        </div>
    </div>
</div>


