<div id="main" style="padding: 40px;">
    <section>
        <h1>Contact ApexMarkets Support
            We're here to help you with anything you need.</h1>
        <h4>Fill out the form and our Team will get back to you within 24-48 hours.</h4>
        <div style="width: 80%; padding: 20px;">
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Enter your full name</mat-label>
                  <input matInput  >
                </mat-form-field>
              </p>              
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Enter your mail address</mat-label>
                  <input matInput  >
                </mat-form-field>
              </p>              
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Enter your phone number</mat-label>
                  <input matInput  >
                </mat-form-field>
              </p>              
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Enter trading account number</mat-label>
                  <input matInput  >
                </mat-form-field>
              </p>              
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Enter preferred call time</mat-label>
                  <input matInput  >
                </mat-form-field>
              </p>              
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Subject</mat-label>
                  <input matInput  >
                </mat-form-field>
              </p>    
              <p style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Write your message here</mat-label>
                    <textarea rows="15" cols="50" matInput></textarea>
                </mat-form-field>
              </p>
              <button mat-raised-button color="primary">Submit Now</button>          
        </div>
    </section>
</div>
<app-footer></app-footer>
    