<nav>
  <ul style="max-width: 80%; margin: auto;">
    <li class="nav-logo"><a routerLink="/"><img src="assets/logo.png" width="50" height="50" alt="Logo"></a></li>
    <div class="nav-center">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/affiliate">Affiliate</a></li>
      <li><a routerLink="/faqs">FAQS</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </div>
    <div class="nav-right">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/get-started">Get Started</a></li>
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>
