<div id="main">
    <section id="section1">
        <ul>
            <li>24/7 Support</li>
            <li>Easy Withdrawals</li>
            <li>Reliable Platforms</li>
        </ul>
        <h1 class="w_text">
            Trade Like a <span style="color: #366fff;">Pro</span> With <br> ApexMarkets <br> The Best Forex Trading <br> Platform
        </h1>
        <div>
            <p class="sub_w_text">
                Start trading with the easiest and most secure forex trading platform to Trade Forex, Cryptocurrency, Commodities and MORE !
            </p>
        </div>
        <div class="t_c_button">
            <button class="t_button" mat-raised-button>Start Trading Now</button>
        </div>
        <div class="s_text">
            <p class="s_i_text">Trusted by thousands of traders worlwide</p>
            <div>
                <h2 class="amount_t">300M+</h2>
                <h4 class="sub_amount_t">Paid Out</h4>
            </div>
            <div>
                <h2 class="amount_t">10M+</h2>
                <h4 class="sub_amount_t"># of Trades Monthly</h4>
            </div>
            <div>
                <h2 class="amount_t">3hr</h2>
                <h4 class="sub_amount_t">Avg Payout Time</h4>
            </div>
            <div>
                <h2 class="amount_t">100+</h2>
                <h4 class="sub_amount_t">Countries</h4>
            </div>
        </div>
    </section>
      
    <section id="section2">
        <div class="video-container">
          <iframe width="80%" height="500" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
      
    
    <section id="section3">
        <div class="s3_content">
            <div>
                <h1>The most Trusted & Reliable Trading Forex Trading Platform</h1>
                <h4>Here are few reasons why you should choose Apex Markets</h4>
            </div>
            <div class="card-container">
                <div fxLayout="row">
                    <div fxLayout="column">
                        <div class="r_card" fxLayout="row">
                            <div class="icon_c" fxFlex="15">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="verified_user"></mat-icon>
                            </div>
                            <div fxFlex="85" class="r_content">
                                <h3>Strong Security</h3>
                                <p>Protection against DDoS attacks, full data encryption, and compliance with PCI DSS standards to safeguard your funds.</p>
                            </div>
                        </div>
                        <div class="r_card" fxLayout="row">
                            <div class="icon_c" fxFlex="15">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="money_off"></mat-icon>
                            </div>
                            <div fxFlex="85" class="r_content">
                                <h3>Low Spreads & No Hidden Fees</h3>
                                <p>Trade like a PRO with Raw Spreads From 0.0 pips. Also, unlike other forex trading platforms - we don't have any hidden fees.</p>
                            </div>
                        </div>
                        <div class="r_card" fxLayout="row">
                            <div class="icon_c" fxFlex="15">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon>
                            </div>
                            <div fxFlex="85" class="r_content">
                                <h3>24/7 Customer Support</h3>
                                <p>Dedicated support via email, phone, and live chat around the clock to answer your questions at any time.</p>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <div class="r_card" fxLayout="row">
                            <div class="icon_c" fxFlex="15">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_balance_wallet"></mat-icon>
                            </div>
                            <div fxFlex="85" class="r_content">
                                <h3>Multiple Payment Methods</h3>
                                <p>For fast deposit and easy withdrawals: Mastercard, visa, wire-transfer , Bitcoin and More Payment method is available.</p>
                            </div>
                        </div>
                        <div class="r_card" fxLayout="row">
                            <div class="icon_c" fxFlex="15">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="spellcheck"></mat-icon>
                            </div>
                            <div fxFlex="85" class="r_content">
                                <h3>Reliable Order Execution</h3>
                                <p>All client positions are passed directly to the market through our liquidity providers.</p>
                            </div>
                        </div>
                        <div class="r_card" fxLayout="row">
                            <div class="icon_c" fxFlex="15">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="scatter_plot"></mat-icon>
                            </div>
                            <div fxFlex="85" class="r_content">
                                <h3>2000 + Tradable Instruments Up to 1 : 500 Leverage</h3>
                            <p>Whatever your preferences, we’ve got them covered. One of the many benefits of working with the best online forex trading platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="section4">
    <h1>3 Easy Step to Start Trading</h1>
    <h4>The Apex Markets forex trading platform allows every aspiring trader to start reaping the benefits of the trading industry. With a minimum deposit of just $10, we grant everyone the opportunity to conquer their financial goals.</h4>
        <div class="image-card-container">
            <mat-card class="image-card" *ngFor="let card of cards">
                <img mat-card-image [src]="card.imageUrl" alt="{{card.title}}">
                <mat-card-title>{{card.title}}</mat-card-title>
                <mat-card-content>
                    <p>{{card.content}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div style="text-align: center; padding: 20px 0;">
            <button class="s_trading_btn" mat-flat-button>Start Trading Now</button>
        </div>
    </section>
      
    <section id="section4">
        <h1>Earn Daily Rewards, Bonuses & Cashback As You trade</h1>  
        <h3>The more active trading days you accumulate, the more Apex Markets trading reward points, Bonuses and Cashback you’ll earn for each day you trade. This could mean earning an extra $1000 USD+ per month!</h3>
        <div class="image-card-container">
            <mat-card class="image-card" *ngFor="let card of cards">
                <img mat-card-image [src]="card.imageUrl" alt="{{card.title}}">
                <mat-card-title>{{card.title}}</mat-card-title>
                <mat-card-content>
                    <p>{{card.content}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <button>Start Earning Rewards</button>
            <p>*Terms & Conditions Apply</p>
        </div>
        <div>
            <div class="column-container">
              <div class="column">
                <h3>$0</h3>
                <h6>Fees On Deposits</h6>
              </div>
              <div class="column">
                <h3>100%</h3>
                <h6>Bonus Offerings</h6>
              </div>
              <div class="column">
                <h3>1:500</h3>
                <h6>Leverage</h6>
              </div>
              <div class="column">
                <h3>2000+</h3>
                <h6>Instruments to Trade</h6>
              </div>
            </div>
        </div>
    </section>
    
    <section id="section3">
        <h1>Global Markets At Your Fingertips!</h1>
        <h4>Apex Markets stands above all other forex trading websites by offering new levels of trading to clients, with market-leading pricing and trading conditions. All client positions are passed directly to the market through the Apex Markets' liquidity providers, providing clients with lightning fast execution and true STP connectivity.</h4>
        <div class="card-container">
            <div class="card">
              <h3>Forex Markets</h3>
              <p>100+ Products</p>
            </div>
            <div class="card">
                <h3>Commodities</h3>
                <p>30+ Products</p>
            </div>
            <div class="card">
                <h3>Stocks</h3>
                <p>2000+ Products</p>
            </div>
            <div class="card">
                <h3>Indices</h3>
                <p>18+ Products</p>
            </div>
            <div class="card">
                <h3>Cryptocurrency</h3>
                <p>40+ Products</p>
            </div>
            <div class="card">
                <h3>Metals</h3>
                <p>10+ Products</p>
            </div>
        </div>
        <div>
            <h3>We accept</h3>
            <div class="column-container">
                <div class="column">
                  <img src="./../../assets/visa.svg" alt="visa">
                </div>
                <div class="column">
                  <img src="./../../assets/mastercard.svg" alt="visa">
                </div>
                <div class="column">
                    <img src="./../../assets/wire.svg" alt="visa">
                </div>
                <div class="column">
                    <img src="./../../assets/bitcoin.svg" alt="visa">
                </div>
                <div class="column">
                    <img src="./../../assets/eth.svg" alt="visa">
                </div>
            </div>  
        </div>
    </section>
    
    <section id="section6">
        <div style="background-color:#366fff; color: white;">
            <h3>
                Join thousands of people who choose to trade on one of the top forex trading platforms, APEX MARKETS. With over 2000 instruments available for trading, including 24/7 trading of cryptocurrencies, there's something for everyone. So what are you waiting for? Join the Apex Markets community today!
            </h3>
            <button>Start trading</button>
        </div>
    </section>
</div>

<app-footer></app-footer>
    